@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

/*

color palatte:

#243e4d
#a66735
#bd7d49
#dcb07b

*/

.center {
  text-align: center;
  padding: 20px;
}

.padding {
  padding: 20px;
}

.home {
  border-bottom: 1px solid #fff;
  background-color: #243e4d;
}

.navbar {
  text-align: center;
  padding: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.titlebutton {
  font-size: 40px;
  font-family: 'Greycliff CF';
  color: #fff;
}

.titlebutton:hover {
  cursor: pointer;
}

.right {
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}